        body {
            font-size: 10px;
        }

        .linia {
            width: 990px;
            border-left: 0px !important;
            border-right: 0px !important;
            ;
        }

        .sinpadding [class*="col-"] {
            padding: 0;
        }

        .table_test {
            border: none;
            width: 100%;
            border-collapse: collapse;
            /* font-size: 8px !important;*/
        }

        td,
        th {
             padding: 1px 2px !important;
            /* text-align: center;*/
            border: 1px solid #999 !important;
        }

       /* tr:nth-child(1) {
            background: #dedede;
        }*/

        p {
            /* font-size: 8px !important;*/
            line-height: 1.0 !important;
        }
    

.pdf{
    /*margin: 0 auto;*/
    font-size: 11px;
    color:black !important;
    width: 21.0cm !important;
    height: 29.7cm !important;
   /* 21.0 x 29.7 cm*/
   margin: 50px !important;
   padding-left: 50px !important;
   padding-right: 50px !important;

  
  }
